---
import Layout from '../layouts/Layout.astro';
import MainBg from '../components/MainBg.astro';
import Section from '../components/Section.astro';
import AppForm from '../components/AppForm.vue'
import Penguin from '../components/Penguin.astro'
---

<Layout title="Penguin rules">
  <MainBg>
    <main class="container mx-auto py-10 px-4 min-h-screen">
      <h1 class="text-6xl text-primary text-center mb-6">
        Hello! I'm Penguin, Penguin The Brave<br>
        <span class="text-gradient">
          Let's have some fun!
        </span>
      </h1>

      <Section
        title="I can\'t fly but I don\'t care"
        body="I can swim at speeds of up to 36km/h! That's 4 times faster than any Olympic swimmer! I can also dive deep - around 350m deep. I'm a master!!! My ancestors may have been approximately 2m tall and weighed over 100kg! Fossils found in Antarctica suggest there were once giant penguins roaming the earth around 37 million years ago. Imagine running into one of these guys on an Antarctica cruise."
        imgUrl="./images/penguin-king.jpeg"
        linkUrl="https://www.chimuadventures.com/blog/2021/11/fun-facts-about-penguins/"
      />
      <Section
        title="Do you know..."
        body="I lose all of their feathers during the two- to three-week process, and can't swim or fish until the important insulation grows back. And I spread an oil produced by the preen gland that insulates their bodies and improves their hydrodynamics."
        imgUrl="./images/penguin-morda.jpeg"
        linkUrl="https://www.cabq.gov/artsculture/biopark/news/10-cool-facts-about-penguins"
      />
      <AppForm client:visible />
    </main>
    <Penguin />
  </MainBg>
</Layout>

<style>
  body {
    cursor: none;
  }
  .text-gradient {
    background: linear-gradient(to right, #38bdf8 20%, #FF0 40%, #5838f8 60%, #ec4899 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 1s linear infinite;
  }
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
</style>
